@page
@model PrivacyModel
@{
    ViewData["Title"] = "Página de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Sistema desenvolvido pelo Ricardo Fröhlich da Silva.</p>
<p>Todos direitos reservados pelo desenolvedor.</p>
