@page
@model WebSuper.Pages.ProdutoModel
@{
    ViewData["Title"] = "Cadastro de Produto";
}
<h2>@ViewData["Title"]</h2>
<p>Produto: @Model.Nome</p>
<p>Preço: @Model.Preco</p>
<p>Estoque: @Model.Estoque</p>

